<div class="auth-bg">
  <div class="authentication-box">
    <div class="card" style="width: 500px;">
      <div class="text-center">
        <img src="assets/images/ppt-sidebar-logo.png"/>
      </div>
      <div class="card-body">
        <div class="text-center">
          <h4>LOGIN</h4>
          <h6>Enter your Username and Password</h6>
        </div>
        <form [formGroup]="loginForm" *ngIf="!newUser">
          <div class="form-group">
            <label class="col-form-label pt-0">Email</label>
            <input
              class="form-control rounded border"
              formControlName="email"
              type="email"
              required=""
              placeholder="email"
            />
            <div
              *ngIf="
                loginForm.controls.email.touched &&
                loginForm.controls.email.errors?.required
              "
              class="text text-danger mt-1"
            >
              Email is required
            </div>
            <div
              *ngIf="
                loginForm.controls.email.touched &&
                loginForm.controls.email.errors?.email
              "
              class="text text-danger mt-1"
            >
              Invalid Email
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label">Password</label>
            <show-hide-password btnStyle="primary" [btnOutline]="false">
              <input
              class="form-control rounded border"
              type="password"
              formControlName="password"
              required=""
              placeholder="password"
            />
            </show-hide-password>
            <div
              *ngIf="
                loginForm.controls.password.touched &&
                loginForm.controls.password.errors?.required
              "
              class="text text-danger mt-1"
            >
              Password is required
            </div>
          </div>
          <div class="form-group form-row row mt-3 mb-0">
            <div class="col text-center">
              <button
                class="btn btn-primary"
                [disabled]="!loginForm.valid || authService.showLoader"
                (click)="login(loginForm.value)"
                type="submit"
              >
                <span>{{ authService.showLoader ? "" : "Login" }}</span>
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
