.auth-bg {
  background: url(../../assets/images/ptt-background.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.authentication-box {
  width: 500px;
  height: auto;
  opacity: 0.9;
  z-index: 2;
  margin: 0 auto;
  padding: 50px;
}

button:hover {
  color: black;
}
